---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="このブログについて"
  description="ブログの紹介。"
  pubDate={new Date('2023/2/11')}
  updatedDate={new Date('2023/4/1')}
  heroImage="/images/about.jpg"
  tags={[]}
>
  <p>
    ここ「TRISHAFT」は、プログラミングや自転車（主にグラベルロード）や登山等について、管理人trisの気の向くままに綴るサイト。
  </p>

  <p>
    恐らく間違いや不備も多数あると思われるので、何かあったら<a
      href="https://twitter.com/tris_5572"
      target="_blank">管理人のTwitter</a
    >に投げて欲しい。もしTwitterが潰れたら連絡手段はまた考える。
  </p>

  <p>
    技術的な記事はこれまで<a href="https://zenn.dev/tris" target="_blank"
      >Zennにいくつか書いてきた</a
    >。とは言え、最近は文字によるアウトプットをサボり気味ということもあるので、今後は色々と書いていきたい。
  </p>

  <h2>プロジェクト</h2>
  <h3>
    <a href="https://tris5572.github.io/gravel-map/" target="_blank"
      >グラベルマップ</a
    >
  </h3>
  <p>
    主に神奈川県付近のグラベル道を地図にマッピングしたもの。管理人trisの実走を元に順次更新中。
  </p>

  <h2>このブログの技術スタック</h2>
  <p>
    このブログは <a href="https://astro.build/" target="_blank">Astro</a> を使って
    GitHub Actions で SSG して GitHub Pages にホスティングしている。
  </p>

  <p>
    リポジトリを公開しているので、同じことをしようとしている人には参考になるかも。
  </p>
</Layout>
