---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, TOP_PAGE_POSTS } from '../consts';
import { getCollection } from 'astro:content';
import PostLink from '../components/PostLink.astro';
import { href } from '../scripts/util';

// 全記事。
const posts = (await getCollection('posts'))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, TOP_PAGE_POSTS);
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      {posts.map((post) => <PostLink {post} />)}

      <a href={href('/posts')}>
        <p class="past-link">過去の記事</p>
      </a>
    </main>
    <Footer />
    <style>
      .past-link {
        text-align: center;
      }
    </style>
  </body>
</html>
