---
// ブログ記事から、サイト内に存在する画像を表示するためのコンポーネント。
//
// 使い方：ブログ記事を mdx として保存し、以下のように指定する。
//   import Image from '../../components/Image.astro';
//   <Image src="/images/gravel.jpg" alt="グラベルの画像" />

import { href } from '../scripts/util';

export interface Props {
  src: string;
  alt?: string;
  caption?: string;
}

const { src, alt = '', caption } = Astro.props;
---

<img src={href(src)} alt={alt} />
{caption && <div>{caption}</div>}

<style>
  img {
    display: block;
    margin: 0 auto;
  }
  div {
    text-align: center;
    color: #777;
  }
</style>
